*{
    box-sizing: border-box;
}
body{
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

main h1{
    font-size: 36px;
}

.content{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
}
.container{
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 auto; 
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin-bottom: 50px;
}
.illustration{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    margin-left: auto;
}
.container p{
    display: flex;
    flex-flow: column;
}

.container label{
    font-size: 16px;
}
p input, select{
    width: 100%;
    border-radius: 5px;
    border: none;
    border-bottom: 1px solid black;
    background-color: #ffffff;
}
p input:hover, select:hover{
    width: 100%;
    border-radius: 5px;
    border: 1px solid black;
}
.helptext, .container ul{
    font-size: 12px;
}

.container label{
    font-size: 16px;
}
header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    height: 70px;
    border-bottom: 1px solid black;
    border-radius: 20px;
    margin-bottom: 20px;
}
header h1, a{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: auto;
    margin-bottom: auto;
}
header h1{
    font-size: 36px;
}
header a{
    display: inline-block;
    text-decoration: none;
    height: 5px;
    color: black;
}
header a  h2{
    margin: 0;
    padding: 0;
}

/* CSS */
.button-4 {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4::-webkit-details-marker {
  display: none;
}

hr{
    height: 2px;
}