{% extends 'base.html' %}
{% block css %}
{% load static %}
    <link rel="stylesheet" href="{% static 'CSS/main.css' %}">
{% endblock %}
{% block content %}
<main>
    {% include "SiderBar.html" %}
    <div class="content">
        <p>Changer le profile du compte {{ request.user.username }}</p>
        <form method="post" enctype="multipart/form-data">
            {% if form.errors %}
                <div class="message">
                    {{ form.errors }}
                </div>
            {% endif %}
            {{ form.as_p }}
            {% csrf_token %}
        <button type="submit">Changer</button>
        </form>
    </div>
</main>
{% endblock %}