{% extends 'base.html' %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/main.css' %}">
{% endblock %}
{% block content %}
    <main >
    <!-- Side Bar du fichier Sidebar -->
        {% include 'SiderBar.html' %}
    <!-- Contenue de notre Page -->
        <div class="content" >
            <h2>Photo</h2>
            <div class="photos">
                {% for photo in photos %}
                    {% load static %}
                    <div class="photo">
                        <img src="{{ photo.image.url }}">
                        <figcaption>{{ photo.caption }}</figcaption>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}